html,
body
    height: 100%;
    margin: 0;
    
.wrapper 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-gap: 20px;
    max-width: 790px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    font-family: Courier New, Courier, monospace;

.header 
    display: flex;
    gap: 30px;

.logo
    width: 50px;
    height: 45px;

.title
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.2em;

.input
    max-width: 100%;
    height: 200px;
    padding: 50px;
    font-size: 16px;
    font-family: Courier New, Courier, monospace;
    font-weight: 600;
    letter-spacing: 0.2em;
    line-height: 24px;
    resize: none;
    outline: none;

.board-table
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    max-width: 100%;

.board-row
    display: flex;
    grid-gap: 10px;
    height: 40px;

.key
    min-width: 40px;
    height: 40px;
    padding: 12px 3px 5px 3px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    background-color: #663333;
    border: none;
    border-radius: 100%;
    box-sizing: border-box;
    transition: 0.05s;

.key:hover
    cursor: pointer;
    background-color: #660000;
    
.key:active
    transform: scale(0.9);

.backspace
    min-width: 100px;
    border-radius: 20px;

.tab
    min-width: 50px;
    border-radius: 20px;

.caps
    min-width: 70px;
    border-radius: 20px;

.enter
    min-width: 120px;
    border-radius: 20px;

.lshift
    min-width: 100px;
    border-radius: 20px;

.rshift
    min-width: 90px;
    border-radius: 20px;

.space
    min-width: 350px;
    border-radius: 20px;
    

.pressed
    background-color: #660000;
    transform: scale(0.9);
